html,
body {
    height: 100%;
    background-color: #D0DFC6;
    font-family: Futura;
}

@font-face {
    font-family: 'gentola';
    src: url("Aisyah-Demo.otf") format("opentype");
}
.navbar {
    background-color: #D0DFC6;
}
.gentola-titolo {
    text-align:center;
    padding-top: 100px;
    font-family: 'gentola';
}

.gentola-tab {
    margin-top: -56px;
    padding-top: 56px;
}
.gentola-tab#home { display:block; }

.gentola-tab:not(:target) { display:none; }

.gentola-tab:target ~ #home { display:none; }

.gentola-image {
    width: 90%;
}

.gentola-image-row {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .gentola-tab {
        margin-top: -224px; padding-top: 224px;
    }
    .gentola-image {
        margin-bottom: 20px;
    }
    .gentola-titolo  {
        padding-top: 20px;
        font-size: 20vw;
    }
}